#orange-button td{
  display: block
}
#orange-button a{
  background: url('button.png') no-repeat -7px -12px;
  padding: 0px 125px 10px 0px;
}
#orange-button a:hover{
  background-position: -144px -12px;
}
#title, #middle_rectangle{
  font-size: 11px;
  font-family: "Verdana","Tahoma",sans-serif;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  background-color: #fff;
}
#middle_rectangle{
  border-top: none;
}
table.columns td{
  padding: 0px 0px 0px;
}
#footer-img{
  background: url('bottom_trapeza.png') no-repeat 0 0;
  width: 560px;
  height: 148px;
}
#left_trapeze, #right_trapeze{
  width: 160px;
  height: 142px;
}
#left_trapeze{
  padding-left: 20px;
}
#middle_middle{
  width: 220px;
  font-size: 11px;
}
#middle_middle_cell{
  width: 220px;
}
#left_trapeza_td{
  width: 180px;
}
#white_square{
  background-color: white;
  height: 92px;
}
#logo{
  background: url('background.png') no-repeat -225px -15px;
  width: 158px;
  height: 125px;
}
#title{
  width: 504px;
  font-size: 12px;
}
#title .sub-columns{
  padding-bottom: 10px;
  padding-top: 10px;
}
#orange-border{
  width: 473px;
  margin-bottom: 15px;
}
#orange-border td{
  border-bottom: solid 1px #ff9933;
}
#title h3{
  font-size: 16px;
}
#header{
  padding-top: 30px !important;
}
#side_left_triangle{
  padding-left: 20px !important;
  width: 18px !important;
}
#top_triangles{
  width: 220px;
}
#footer_bottom{
  width: 220px;
}
#bottom_left_square{
  width: 28px;
}
#bottom_right_triangle{
  width: 35px !important;
}
#bottom_right_square{
  width: 30px !important;
}
#top_right_triangle{
width: 42px !important;
}
#top_triangle, #top_triangle img{
  width: 88px;
  height: 30px;
}
#middle_rectangle{
  width: 502px;
}
#content{
  width: 473px !important;
  margin: 10px 15px 5px 15px;
}
#content tr{
  width: 473px !important;
}
#right_content{
  padding-left: 10px;
}
#time{
  color: #9a9a9a;
}
