<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../ink.css"> <!-- For testing only -->
    <link rel="stylesheet" href="my.css"> <!-- For testing only -->

    <style type="text/css">

      /*ink.css*/

    </style>
    <style type="text/css">

      /*my.css*/

    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="container" align="center" valign="top">
          <center>
            <table>
              <tr>
                <td>
                  <table class="ten columns">
                    <tr>
                      <td>
                        <table class="container">
                          <tr>
                            <td>
                              <table id="header" class="row">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table id="top_triangle">
                                        <td>
                                          <img src="top_triangle.png" />
                                        </td>
                                      </table>
                                    </center>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table class="container">
                                        <tr>
                                          <td class="wrapper last">
                                            <table id="title" class="columns">
                                              <tr>
                                              	<td>
                                                  <table id="content">
                                                    <tr>
                                                      <td class="sub-columns">
                                                        <h3><a href="http://znaigorod.ru">znaigorod.ru</a> / Приглашение</h3>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td class="center" align="center">
                                                        <table id="orange-border">
                                                          <tr>
                                                            <td class="orange-border"></td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td>
                                                        <table>
                                                          <tr>
                                                            <td>
                                                              <table class="one columns">
                                                                <tr>
                                                                  <td>
                                                                    <a href="#">
                                                                      <img src="1.jpg" />
                                                                    </a>
                                                                  </td>
                                                                </tr>
                                                              </table>
                                                            </td>
                                                            <td id="right_content">
                                                              <table class="nine columns">
                                                                <tr>
                                                                  <td>
                                                                    <a href="#">ФАВЫВЫААЫВ</a> приглашает Вас на <a href=#"">ФФЫАЫЫА</a>
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                	<td id="time">20 ноября 2013, 11:30</td>
                                                                </tr>
                                                              </table>
                                                              <table class="nine columns">
                                                                <tr>
                                                                  <td>
                                                                    <table class="orange-button">
                                                                      <tr>
                                                                        <td>
                                                                          <a href="#">К приглашению</a>
                                                                        </td>
                                                                      </tr>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </table>
                                              	</td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </center>
                                  </td>
                                </tr>
                              </table>
                              <table class="row">
                              	<tr>
                              		<td class="center" align="center">
                              			<center>
                                      <table class="container">
                                        <tr>
                                          <td id="side_left_triangle">
                                            <img src="side_left_triangle.png" />
                                          </td>
                                          <td id="middle_rectangle"></td>
                                          <td id="side_right_triangle">
                                            <img src="side_right_triangle.png" />
                                          </td>
                                        </tr>
                                      </table>
                              			</center>
                              		</td>
                              	</tr>
                              </table>
                              <table class="row footer">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table class="container">
                                        <tr>
                                          <td id="left_trapeza_td" class="wrapper last">
                                            <table>
                                              <tr>
                                                <td>
                                                  <img id="left_trapeze" src="left_trapeze2.png" />
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td id="middle_middle_cell">
                                            <table id="middle_middle" class="">
                                              <tr>
                                                <td id="white_square"></td>
                                              </tr>
                                              <tr>
                                                <td class="center" align="center">
                                                  Отписаться от рассылок можно в
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="center" align="center">
                                                  <table id="top_triangles">
                                                    <tr>
                                                      <td>
                                                        <img src="top_left_triangle.png" />
                                                      </td>
                                                      <td>
                                                        <a href="http://znaigorod.ru/my/account/edit">Личном кабинете</a> на сайте
                                                      </td>
                                                      <td id="top_right_triangle">
                                                        <img src="top_right_triangle.png" />
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <table id="footer_bottom">
                                                    <tr>
                                                      <td id="bottom_left_square">
                                                        <img src="bottom_left_square.png" />
                                                      </td>
                                                      <td>
                                                        <img src="bottom_left_triangle.png" />
                                                      </td>
                                                      <td class="center" align="center">
                                                        <a href="http://znaigorod.ru">znaigorod.ru</a>
                                                      </td>
                                                      <td id="bottom_right_triangle">
                                                        <img src="bottom_right_triangle.png" />
                                                      </td>
                                                      <td id="bottom_right_square">
                                                        <img src="bottom_right_square.png" />
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td class="wrapper last">
                                            <table class="">
                                              <tr>
                                                <td>
                                                  <img id="right_trapeze" src="right_trapeze2.png" />
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </center>
                                  </td>
                                </tr>
                              </table>
                              <table class="table">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table id="footer-img" class="container">
                                        <tr>
                                          <td class="wrapper last">
                                            <a href="http://znaigorod.ru">
                                              <table class="ten columns">
                                                <tr>
                                                  <td id="logo">
                                                  </td>
                                                </tr>
                                              </table>
                                            </a>
                                          </td>
                                        </tr>
                                      </table>
                                    </center>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
