<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../ink.css"> <!-- For testing only -->
    <link rel="stylesheet" href="my.css"> <!-- For testing only -->

    <style type="text/css">

      /* Ink styles go here in production */

    </style>
    <style type="text/css">

    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="container" align="center" valign="top">
          <center>
            <table class="background">
              <tr>
                <td>

                  <table class="ten columns">
                    <tr>
                      <td>

                        <table class="container">
                          <tr>
                            <td>

                              <table class="row header" style="padding-top: 30px;">
                                <tr>
                                  <td class="center" align="center">
                                    <center>

                                      <table class="container">
                                        <tr>
                                          <td class="wrapper last">

                                            <table id="title" class="border-header columns">
                                              <tr>
                                              	<td></td>
                                              </tr>
                                              <tr>
                                                <td class="sub-columns">
                                                  <h3><a href="http://znaigorod.ru">znaigorod.ru</a> / Приглашение</h3>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="center" align="center">
                                                  <table id="orange-border">
                                                  	<tr>
                                                  		<td class="orange-border"></td>
                                                  	</tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                        </tr>
                                      </table>

                                    </center>
                                  </td>
                                </tr>
                              </table>
                              <table class="row middle">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table class="container">
                                        <tr>
                                          <td class="wrapper last">
                                            <table id="middle" class="border-middle columns">
                                              <tr>
                                                <td>
                                                  <table class="one columns">
                                                    <tr>
                                                      <td>
                                                        <img src="1.jpg" />
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                                <td>
                                                  <table class="eight columns">
                                                    <tr>
                                                      <td>
                                                        ФАВЫВЫААЫВ приглашает Вас на ФФЫАЫЫА
                                                        фыааыаыффыааыыавыфваываавыавы
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  <table class="eight columns">
                                                    <tr>
                                                      <td>
                                                        <table class="orange-button">
                                                          <tr>
                                                            <td>
                                                              <a href="#">К приглашению</a>
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </center>


                                  </td>
                                </tr>
                              </table>

                              <table class="row footer">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table class="container">
                                        <tr>
                                          <td id="left_trapeza_td" class="wrapper last">
                                            <table>
                                              <tr>
                                                <td>
                                                  <img id="left_trapeze" src="left_trapeze2.png" alt="" />
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td style="width: 220px">
                                            <table id="middle_middle" class="">
                                              <tr>
                                                <td id="white_square">

                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="center" align="center">
                                                  Отписаться от рассылок можно в
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="center" align="center">
                                                  <table style="width: 220px;">
                                                    <tr>
                                                      <td>
                                                      	<img src="top_left_triangle.png" alt="" />
                                                      </td>
                                                      <td>
                                                        <a href="http://znaigorod.ru/my/account/edit">Личном кабинете</a> на сайте
                                                      </td>
                                                      <td style="width: 42px;">
                                                        <img src="top_right_triangle.png" alt="" />
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <table style="width: 220px;">
                                                    <tr>
                                                      <td style="width: 28px">
                                                        <img src="bottom_left_square.png" />
                                                      </td>
                                                      <td>
                                                        <img src="bottom_left_triangle.png" alt="" />
                                                      </td>
                                                      <td class="center" align="center">
                                                        <a href="http://znaigorod.ru">znaigorod.ru</a>
                                                      </td>
                                                      <td style="width: 35px;">
                                                        <img src="bottom_right_triangle.png" alt="" />
                                                      </td>
                                                      <td style="width: 30px;">
                                                        <img src="bottom_right_square.png" />
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td class="wrapper last">
                                            <table class="">
                                              <tr>
                                                <td>
                                                  <img id="right_trapeze" src="right_trapeze2.png" alt="" />
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </center>

                                  </td>
                                </tr>
                              </table>
                              <table class="footer-img table">
                                <tr>
                                  <td class="center" align="center">
                                    <center>
                                      <table class="container footer-img">
                                        <tr>
                                          <td class="wrapper last">
                                            <a href="http://znaigorod.ru">
                                              <table class="ten columns">
                                                <tr>

                                                  <td id="logo">
                                                  </td>
                                                </tr>
                                              </table>
                                            </a>

                                          </td>
                                        </tr>
                                      </table>
                                    </center>

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>

                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
